<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @dumpster.number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dumpster.location %>
</p>

<p>
  <strong>Dumpster:</strong>
  <%= @dumpster.dumpster_type.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @dumpster.site.name %>
</p>

<%= link_to 'Edit', edit_dumpster_path(@dumpster) %> |
<%= link_to 'Back', dumpsters_path %>
